@font-face{
    font-family: 'Spectral';
    src: url(../Fonts/Spectral/Spectral-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral', sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.35)),url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    filter: invert(1);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.btn1{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: 400;
}

.btn2{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#c90000,#2f1313);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s ease;
}

.content{
    margin-top: 10%;
    max-width: 1000px;
}

.content h1{
    font-size: 70px;
    color:#c2c2c2;
}

.content p{
    margin: 10px 0 30px;
    color: #c2c2c2;
    animation-delay: 0.5s;
}

.content .btn2{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 0.7s;
}

.btn2:hover{
    border-top-right-radius: 30px;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}